<div id="tie-newsletter-5" class="container-wrapper widget subscribe-widget">
  <div class="widget-inner-wrap">
    <span class="tie-icon-envelope newsletter-icon" aria-hidden="true"></span>
    <div class="subscribe-widget-content">
      <h4>Subscribe to our mailing list!</h4>
      <h3>Get Tips for your Next Vacation</h3>
    </div>
    <div id="mc_embed_signup-tie-newsletter-5">
      <form
        action="#"
        method="post"
        id="mc-embedded-subscribe-form-tie-newsletter-5"
        name="mc-embedded-subscribe-form"
        class="subscribe-form validate"
        target="_blank"
        novalidate
      >
        <div class="mc-field-group">
          <label class="screen-reader-text" for="mce-EMAIL-tie-newsletter-5"
            >Enter your Email address</label
          >
          <input
            type="email"
            id="mce-EMAIL-tie-newsletter-5"
            placeholder="Enter your Email address"
            name="EMAIL"
            class="subscribe-input required email"
          />
        </div>
        <input
          type="submit"
          value="Subscribe"
          name="subscribe"
          class="button subscribe-submit"
        />
      </form>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
