<header>
	<!-- <nav class="pa3 pa4-ns">
	<a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns"  href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	{{ with .Site.Menus.main }}
		<div class="tc pb3">
			{{ range . }}
			<a class="link dim gray f6 f5-ns dib mr3" href="{{ .URL | relURL }}">{{ .Name }}</a>
			{{ end }}
		</div>
	  </nav>
	{{ end }} -->


	<nav class="db dt-l w-100 border-box pa3 ph5-l">
		<a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="{{ .Site.BaseURL }}" title="Home">
		  <img src="/img/logoo.png" class="dib w2 h2 br-0" alt="Site Name">
		  <!-- {{ .Site.Title }} -->
		</a>
		{{ with .Site.Menus.main }}
		<div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
			{{ range .}}
		  <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="{{ .URL | relURL }}">{{ .Name }}</a>
		  {{ end }}
			<button x-data @click="$store.darkMode.toggle()">Toggle Dark Mode</button>
		</div>
		{{ end }}
	  </nav>


	
</header>