{{ define "main" }}
<main class="">
  <!-- <article>
<h1>{{ .Title }}</h1>
<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</time>
{{ if and (isset .Params "thumbnail") .Params.thumbnail }}
<img src="{{ .Params.thumbnail | relURL }}"></img>
{{ end }}
<div>
{{ .Content }}
</div>

{{ with .Params.tags }}
<div>
{{ range . }}
<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
{{ end }}
</div>
{{ end }}

{{ with .Site.DisqusShortname }}
<div>
{{ template "_internal/disqus.html" . }}
</div>
{{ end }}
</article> -->

  <article>
    <header class="bg-gold sans-serif">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <time class="f6 mb2 dib ttu tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}"><small>{{ .Date.Format "02 January 2006" }}</small></time>

        {{ with .Params.tags }}
        <div class="mb2">
          <svg viewBox="0 0 512 512" fill="#fff" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M20 39.5c-8.836 0-16 7.163-16 16v176c0 4.243 1.686 8.313 4.687 11.314l224 224c6.248 6.248 16.378 6.248 22.626 0l176-176c6.244-6.244 6.25-16.364.013-22.615l-223.5-224A15.999 15.999 0 00196.5 39.5H20zm56 96c0-13.255 10.745-24 24-24s24 10.745 24 24-10.745 24-24 24-24-10.745-24-24z"></path><path d="M259.515 43.015c4.686-4.687 12.284-4.687 16.97 0l228 228c4.686 4.686 4.686 12.284 0 16.97l-180 180c-4.686 4.687-12.284 4.687-16.97 0-4.686-4.686-4.686-12.284 0-16.97L479.029 279.5 259.515 59.985c-4.686-4.686-4.686-12.284 0-16.97z"></path></svg>
          {{ range . }}
          <a class="ttu b f6 link black dim" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}

        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">{{ .Title }}</span>
        </h3>
        <h4 class="f3 fw1 georgia i">{{ .Description }}</h4>
        <h5 class="f6 ttu tracked black-80">By {{ .Site.Author.name }} in {{ .Site.Author.location }}</h5>

        <!-- <div class="views">
<span class="views">
<img src="https://visitor-badge.glitch.me/badge?page_id={{ .Permalink }}" alt="Views"/>
</span>
</div> -->


      </div>
    </header>
    <div class="pa4 ph7-l georgia mw9-l center content">
      {{ .Content }}
    </div>
  </article>


  <div class="flex items-center justify-center flex-wrap pa4">
    {{ if .NextPage }}
    <a href="{{ .NextPage.Permalink }}" class="mv4 f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
      <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronLeft icon</title>
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
      <span class="pl1">{{ .NextPage.Title | truncate 50 "..." }}</span>
    </a>
    {{ end }}
    {{ if .PrevPage }}
    <a href="{{ .PrevPage.Permalink }}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
      <span class="pr1">{{ .PrevPage.Title | truncate 50 "..."}}</span>
      <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronRight icoln</title>
        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
      </svg>
    </a>
    {{ end }}
  </div>

</main>


{{ partial "sidebar.html" . }}
{{ end }}
